body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
}

.container {
    max-width: 1000px;
    /* width: 100%; */
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#word-display {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.key-indicator {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f2f2f2;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
#typing-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}

#message {
    text-align: center;
    color: green;
}